*{
    margin: 0px;
    padding: 0px;
    color: white;
}
#project{
    margin-top: 20px;
}
.container
{
  display: inline-flex;
  border: 1px black solid;
    width:280px;
    height:520px;
    margin: 10px;
    margin-top: 40px;
    background-color:rgb(50, 10, 8);
}
.list{
    list-style: none;
}
.image
{
  width: 280px;
  height: 400px;
}

.info
{
  margin-left: 10px;
}